/*************************************PRINCIPALES*************************************/

body{
	font-family:"Arial";
	color:#281d18;
	font-size:12px;
	margin:0px;
	height:100%;
	padding:0px;
	text-align:center;
	background-color:#e6e87b;
	margin: 0px auto 0px;
	background-image:url(images/fondo.jpg);
	background-position:top center;
	background-repeat:repeat;
	
}

iframe { 
overflow-x: hidden; 
overflow-y: scroll; 
} 

html, body, #marco {height: 100%;}
body > #marco {
	height: auto;
	min-height: 100%;
	padding-bottom: 0px;
	display: block;
}

img { border:0px;}

#marco{
	padding:0px;
	min-height:100%;
	height:auto;
	width:750px;
	margin:auto;
	margin-bottom:0px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	background-image:url(images/body.png);
	background-position:center 400px ;
	background-repeat:repeat-y;
}

#marco2{
	padding:0px;
	width:750px;
	margin:auto;
	margin-bottom:0px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	background-image:url(images/body.png);
	background-position:center 0px;
	background-repeat:repeat-y;
	height:60%;
}

/*************************************HEADER / FOOTER*************************************/

#header{
	margin: 0px auto 0px;
	width:750px;
	height:382px;
	clear:both;
	
}

#main {padding-bottom: 0px;}  /* debe ser el mismo alto que el footer */
	

#footer{
	position: static;
	margin: 0px auto 0px; /* valor negativo del alto del footer */
	margin-top:0px;
	width:750px;
	height:217px;
	clear:both;
	text-align:left;
	background-image:url(images/footer.png);
	background-repeat:no-repeat;
}

/*************************************MAIN*************************************/

#main{
	margin:auto;
	margin-top:0px;
	padding:10px;
	width:660px;
	clear:both;
}

#menu{
	width:292px;
	height:auto;
	float:left;
	margin: 0px;
	text-align:right;
}

#contenido{
	width:579px;
	height:auto;
	float:left;
	clear:right;
	margin: 0px;
}

/*************************************CUADROS CENTRALES*************************************/

#superconejo{
	width:213px;
	height:212px;
	float:left;
	margin: 0px;
	text-align:center;
	margin-bottom: 20px;
}

#dialogo{
	width:437px;
	height:197px;
	float:left;
	clear:right;
	margin: 0px;
}

.cuadrocentral{
	width:650px;
	clear:left;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.cuadrocentralarriba{
	width:650px;
	height:auto;
	float:left;
	clear:both;
	margin:0px;
	background-image:url(images/cuadrocentralarriba.png);
	background-position:center bottom;
	background-repeat:no-repeat;
	text-align: left;
}
.cuadrocentralabajo{
	width:650px;
	height:15px;
	float:left;
	clear:both;
	margin:0px;
	background-image:url(images/cuadrocentralabajo.png);
	margin-bottom: 10px;
}
.cuadrocentralabajo2{
	width:650px;
	height:15px;
	float:left;
	clear:both;
	margin:0px;
	background-image:url(images/cuadrocentralabajo.gif);
	margin-bottom: 40px;
}
.cuadrocentralmedio{
	width:649px;
	height:100%;
	float:left;
	clear:both;
	margin-right: auto;
	margin-left: auto;
	text-align:left;
	background-image:url(images/cuadrocentralmedio.png);
	background-repeat:repeat-y;
	background-color:#F7FFF3;
	padding-top: 10px;
}
.cuadrocentralizquierda{
	width:9px;
	height:100%;
	float:left;
	margin:0px;
}
.cuadrocentralderecha{
	width:9px;
	height:100%;
	float:left;
	margin:0px;
}
.cuadrocentralcentro{
	width:631px;
	height:auto;
	float:left;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image:url(images/cuadrocentralmedio.png);
}

.contenido{
	width:621px;
	height:auto;
	margin-top: 5px;
	margin-bottom:5px;
	margin-left:15px;
	margin-right:15px;
	clear: both;
}

.cuadrofooter{
	margin-left:420px;
	margin-top:0px;
	width:206px;
	position:relative;
	padding-top: 10px;
	font-size: 2;
	z-index: 65;

}

/*************************************TEXTOS*************************************/

a {
	color:#815845;
	text-decoration:none;
	font-weight:bold;
}

a:hover{
	text-decoration:underline;
}

#menu ul{
	font-size:14px;
	font-transform:capitalize;
	list-style-type:none;
	margin-top: 0px;
	margin-right: 75px;
	margin-bottom: 20px;
	font-weight:300;
}

#menu li{
	margin-top:4px;
	margin-bottom:4px;
}

#menu a {
	color:#281d18;
}

#menu a:hover{
	color:#815845;
	text-decoration:none;
}

.titulo{
	clear:both;
	padding: 0px;
	text-align:right;
	color:#281d18;
	font-size:12px;
	font-weight:bold;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #281d18;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}

.contenido ul{
	font-size:12px;
	font-transform:capitalize;
	list-style-type:circle;
	margin-top: 20px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
}

.contenido ul li{
	margin-top:15px;
	margin-bottom:15px;
}

.contenido p {
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
}

.contenido h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13pt;
	color:#FF9900;
	text-align:center;
	clear: both;
	margin-top: 20px;
}
	
#footer ul {
	list-style-type:sqare;
	font-size:9pt;
	color:#FF9900;
	margin-left:15px;
	margin-top:-10px;
	margin-right:0px;

	magin bottom:0px;
	padding-left:0;
	
}

#footer ul a:hover {
	font-size:10pt;
	color:#FFFFFF;
	font-weight:100;
	text-decoration:none;
}
#footer  a:link, #footer a:visited {
	font-size:9pt;
	color:#FF9900;
	font-weight:100;
	text-decoration:none;
}
	
#footer colores {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10pt;
	color:#FF9900;
	font-weight:400;
	padding-top: 20px;
}
	
	
/*************************************IMAGENES*************************************/
.cuadrocentralarriba img{
	margin-left:20px;
}

.imagenderecha {
	font-size:9px;
	margin-left: 10px;
	margin-bottom: 10px;
	font-style:italic;
	text-align:center;
	float:right;}

.imagenizquierda {
	font-size:9px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-style:italic;
	text-align:center;
	float:left;}
	
/*************************************OTROS*************************************/
.total {
	clear:both;
	display: block;
	padding-top: 10px;
	padding-bottom: 20px;
}

.total p{
	margin-top:0px;
	margin-bottom:5px;
}

.total h2{
	text-align:left;
		margin-top:0px;
	margin-bottom:8px;}

.total  h1{
	font-size:11px;
	font-weight:600;
	margin-top: 20px;
}
	
.total ul{
	font-size:8px;
	margin-left:0px;
	padding-left: 0px;
}

.total ul li{
	margin-left:0px;
	margin-top:-15px;
	font-size:8px;
	list-style-type:square;
	display: block;
	padding-left: 0px;
}
	
.total ul li a {
	color:#FF9900;
	text-decoration:none;
	font-weight:normal;
}

.total ul li a:hover{
	text-decoration:underline;
}

.mitadgrande {
	width:66%;
	padding:0px;
	float:left;
	margin-left: 20px;
}

.mitadchica {
	font-weight:600;
	color:#FF9900;
	width:30%;
	padding:0px;
	font-weight: 600;
	float:left;
}

.cuadro {
	float:left;
	clear:both;
	padding:5px;
	margin:20px;
	border-width: thin;
	border-style: solid;
	border-color: #281d18;
	background-color:#ece1dc;
	}

.cuadro ul{
	margin: 10px;
	}

.cuadro ul li{
	list-style-type:square;
	margin-top:0px;
	margin-bottom:0px;
	}
	
#footercontenido{
	width:666px;
	height:150px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10pt;
	color:#FFFFFF;
	padding-top: 65px;
	padding-left: 35px;
	position: static;
	clear: both;
}
#flashfooter{
	width:400px;
	height:150px;
	position:absolute;
	float: left;
	margin-left: 0px;
}

#reproductorportfolio{
	width:650px;
	clear:both;
}
#extrah{
	height:20px;
	clear:left;
	margin-top:10px;
}
	
	
/*************************************IMAGENES*************************************/
.fotografiaizq{
	display:inline;
	width:auto;
	height:auto;
	float:left;
	clear:left;
	margin-right:10px;
}

.fotografiader{
	display:block;
	width:auto;
	height:auto;
	float:right;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
}

/*************************************IMAGENES*************************************/

.formulario{
	font-family: Arial, Helvetica, sans-serif;
	margin-top:15px;
	margin-bottom:15px;}
	
.form1{
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	clear:both;
	margin-left:10px;
	margin-right:10px;
	}
	
.form2{
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	clear:right;
	margin-top:0px;
	margin-bottom:10px;
	}
	
.form3{
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	width:46%;
	margin-left:10px;
	float: left;
	}
	
.form3d{
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	width:46%;
	margin-left:10px;
	float: right;
	}
	
.form4{
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	width:100%;
	clear:right;
	margin-bottom: 10px;
	}
	
.campo {
	color:#FFFFFF;
	width:100%;
	padding-left:5px;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	background: #FF9900;
	font-weight: 500;
	font-family: Arial, Helvetica, sans-serif;
}
	
.campo2 {
	background:#FF9900;
	color:#FFFFFF;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	margin-right: 10px;
}

.campo3 {
	color:#FFFFFF;
	width:90%;
	padding-left:5px;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	background: #FF9900;
	font-weight: 600;
	font-family: Arial, Helvetica, sans-serif;
}
